body {
    background: #1A1F25;
    color:white;
}
.card{
    background: #1A1F25;
    border-color: #232c36;
}
.btn-login {
    background: #6A2F85;
    color: white;
    font-weight: 500;

}
.links {

    color: white;

    text-decoration: none
}
.btn-login:hover {
    background: #3e1d4d;
    color: white;

}
.btn-save {
    background: #8FB92A;
    color: white;
    font-weight: 500;

}
.btn-save:hover {
    background: #5B7718;
    color: white;
}
.navigationBar {
    background: #1A1F25;
}
.nav-link {
    color: white
}
nav-link {
    color: white
}
.saveMeBtn{
    background: #364658;
}
.loginInputs{
    background: #364658;
    color: white;
    border-color: #364658;
    text-decoration: none
}
.loginInputs:focus{
    background: #364658;
    color: white;
    border-color: #364658;
    box-shadow: 2px 2px 3px 0 #6e91bb;
}
.logo{
    width: 40px;
    height: 40px;
}
.table-text{
    color: white;
}
.btnAdmin{
    width: 100px;
}
