body {
    background: #1A1F25;
    color:white;
}
.card{
    background: #1A1F25;
    border-color: #232c36;
}
.btn-login {
    background: #6A2F85;
    color: white;
    font-weight: 500;
    border: 1px solid #522467;
    width: 150px;

}
.links {

    color: white;

    text-decoration: none
}
.btn-login:hover, .btn-login:active {
    background: #3e1d4d;
    color: white;

}
.btn-save {
    background-color: #8FB92A;
    color: white;
    font-weight: 500;
    border: 1px solid #739421;
    width: 150px;

}
.btn-save:hover,  .btn-save:active{
    background: #5B7718;
    color: white;
}

.btn-cancel {
    background-color: #dc3545;
    color: white;
    font-weight: 500;
    border: 1px solid #a22632;
    width: 150px;
}
.btn-cancel:hover, .btn-cancel:active {
    background-color: #a22632;
}

.btn-back {
    background: #0D6EFD;
    color: white;
    font-weight: 500;
    border: 1px solid #0a56c7;
    width: 150px;
}
.btn-back:hover, .btn-back:hover {
    background: #095DDA;
    color: white;
}
.navigationBar {
    background: #1A1F25;
}
.nav-link {
    color: white
}
nav-link {
    color: white
}
.saveMeBtn{
    background: #364658;
}
.loginInputs{
    background: #364658;
    color: white;
    border-color: #364658;
    text-decoration: none
}
.loginInputs:focus{
    background: #364658;
    color: white;
    border-color: #364658;
    box-shadow: 2px 2px 3px 0 #6e91bb;
}
.logo{
    width: 40px;
    height: 40px;
}
.table-text{
    color: white;
}
.btnAdmin{
    width: 100px;
}
.select-style {
    color:white;
    background: #364658;
    border-color: #364658;
    border-radius: 7px ;
    height: 34px;
    width: 200px;
}
.options {
    background-color:#364658;
}
.select-style:focus {
    border-color: #364658;
    box-shadow: 2px 2px 3px 0 #6e91bb;
}
.logout {
    background-color: #1F2C3A;
    color:white;
}
.logout:hover {
    background-color: #1F2C3A;
    color:#7F8084;
}
.description {
    border-radius: 20px;
}
.course {
    background-color: #21272f;
    color:white;
    border-radius: 10px;
    height: 200px;
    flex-direction: column;
    display: flex;
    justify-content: center;



    box-shadow: 3px 5px 5px #0c0f13;
}
.course-content {
    background-color: #21272f;
    color:white;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    box-shadow: 3px 3px 5px #0c0f13;
}

.course:hover, .course-content:hover {
    background-color: #293542;
}
.img-back:hover {
    background-color: #364658;
    border-radius: 20px;
}
.student-marks {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media(max-width: 490px){
    .size_select{
        width: 140px;
        font-size: 12px;
    }

    .button_size{
        width: 90px
    }
}
@media(max-width: 580px) {
    .input_size{
        height: 40px;
        margin-bottom: 10px;
        width: 100%;
    }
    .size_select {
        margin-bottom: 10px;
    }
}
@media (min-width: 581px) {
    .input_size{
        width: 40vw; min-width: 150px; border-radius: 5px;
    }

}
.input_size{
    max-width: 500px;
}
.size_select{
    height: 40px;
}
.button_size{
    height: 40px;
}


