body {
    background: #1A1F25;
    color:white;
}
.card{
    background: #1A1F25;
    border-color: #232c36;
}
.btn-login {
    background: #6A2F85;
    color: white;
    font-weight: 500;

    border: 1px solid #522467;

}
.links {

    color: white;

    text-decoration: none
}
.btn-login:hover {
    background: #3e1d4d;
    color: white;

}
.btn-save {
    background: #8FB92A;
    color: white;
    font-weight: 500;

}
.btn-save:hover {
    background: #5B7718;
    color: white;
}
.btn-back {
    background: #0D6EFD;
    color: white;
    font-weight: 500;
}
.btn-back:hover {
    background: #095DDA;
    color: white;
}
.navigationBar {
    background: #1A1F25;
}
.nav-link {
    color: white
}
nav-link {
    color: white
}
.saveMeBtn{
    background: #364658;
}
.loginInputs{
    background: #364658;
    color: white;
    border-color: #364658;
    text-decoration: none
}
.loginInputs:focus{
    background: #364658;
    color: white;
    border-color: #364658;
    box-shadow: 2px 2px 3px 0 #6e91bb;
}
.logo{
    width: 40px;
    height: 40px;
}
.table-text{
    color: white;
}
.btnAdmin{
    width: 100px;
}
.select-style {
    color:white;
    background: #364658;
    border-color: #364658;
    border-radius: 7px ;
    height: 34px;
    width: 200px;
}
.select-style:focus {
    border-color: #364658;
    box-shadow: 2px 2px 3px 0 #6e91bb;
}
.logout {
    background-color: #1F2C3A;
    color:white;
}
.logout:hover {
    background-color: #1F2C3A;
    color:#7F8084;
}
.description {
    border-radius: 20px;
}
.course {
    background-color: transparent;
    color:white;
    border-radius: 10px;
    height: 200px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    border: 1px solid #293542;

    box-shadow: 3px 5px 5px #293542;
}
.course-content {
    background-color: transparent;
    color:white;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    border: 1px solid #293542;
    box-shadow: 3px 3px 5px #293542;
}

.course, .course-content:hover {
    background-color: #293542;
}

